.BarraPesquisa {
  margin: 1vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.BarraPesquisa input {
  border-color: var(--cor-primaria);
  border-radius: 100vh;
  border: solid var(--cor-primaria) 1vh;
  height: 8vh;  
  width: 70vw;
  margin: 5px 10px;
  padding-left: 1vw;
  font-size: 4vh;
}
.BarraPesquisa input:hover{
  background-color: rgb(246, 243, 243);
}

.BarraPesquisa select {
  text-align: center;
  appearance: none;
  background-image: url("C:/Users/gabi1/libmap/public/Imagens/Polygon.png");
  color: var(--cor-secundaria);
  border-radius: 300px;
  background-color: var(--cor-primaria);
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  height: 9vh;
  min-width: 12vw;
  width: fit-content;
  font-size: 2vh;
}

.BarraPesquisa select:valid {
  text-align: center;
  appearance: none;
  color: var(--cor-secundaria);
  background-image: none;
  border-radius: 300px;
  background-color: var(--cor-primaria);
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  height: 9vh;
  width: 12vw;
  font-size: 1.5vw;
}


@media (orientation: portrait) {
  .BarraPesquisa input {
    border-color: var(--cor-primaria);
    border-radius: 100vh;
    border: solid var(--cor-primaria) 0.5vh;
    height: 4vh;
    width: 60vw;
    margin: 0px 10px;
    font-size: 4vw;
  }

  .BarraPesquisa select {
    appearance: none;
    background-image: url("C:/Users/gabi1/libmap/public/Imagens/Polygon.png");
    color: var(--cor-secundaria);
    border-radius: 300px;
    background-color: var(--cor-primaria);
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    height: 5vh;
    min-width: 20vw;
    width: fit-content;
    font-size: 2vw;
  }
  .BarraPesquisa select:valid {
    appearance: none;
    color: var(--cor-secundaria);
    background-image: none;
    border-radius: 300px;
    background-color: var(--cor-primaria);
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    height: 5vh;
    min-width: 20vw;
    width: fit-content;
    font-size: 2vw;
  }

  
}
