body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --cor-fundo: #1e1b1b;
  --cor-primaria: #f0b11d;
  --cor-secundaria: #ffffff;
  background-color: var(--cor-fundo);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
